/* https://www.youtube.com/watch?v=D53MBXEj8m4&list=PL0b6OzIxLPbyTHa8kl8krEvyszCKO1Uml&index=7&ab_channel=YahooBaba */

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* grid, grid-template-columns, grid-template-rows and grid-gap */

.container {
  background: #eeeeee;
  width: 700px;
  /* height: 800px; */
  margin: 70px 0 0 50px; /* top  right bottom left  */

  /*grid line
  
 1   1   2   3   4        -4 →
     ↓   ↓   ↓   ↓
 2                        -3 →
 
 3                        -2 →
 
 4  -4  -3  -2  -1        -1 →

 */
  display: grid;

  /* alternatively, it could be said columns used add width and rows to add height */

  /* auto fill thes avaiable empty space */
  grid-template-columns: 250px 200px auto; /* 250px auto 200px */
  grid-template-columns: repeat(3, 1fr);

  grid-template-rows: 150px 100px 100px;
  grid-template-rows: repeat(2,1fr); /* fills the avaiable height when used fr */
  grid-template-rows: 1fr 150px; /* here first row will all space except 150px */
  grid-template-rows: 150px 150px;
  grid-template-rows: repeat(4, 120px);

  grid-gap: 20px; /* single value then applies to row col else first row second column */
}

/* css grid items positioning */
.item1 {
  background: orangered;
  /* grid-row-start: 2;
  grid-row-end: 3; */
  /* shorthand */
  grid-row: 2 / 3;
  /* shorthand */
  /* grid-column-start: 3;
  grid-column-end: 4; */
  grid-column: 3 / 4;
  z-index: 1;
}

.item2 {
  background: yellowgreen;
  grid-row: 2 / span 3;
  
  
}
.item3 {
  background: slateblue;
  grid-column: 2 / -1;
}
.item4 {
  background: hotpink;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}
.item5 {
  background: royalblue;
}

.item6 {
  background: goldenrod;
  /* how much height  would it take? */
  grid-row: 1 / 2;
  /* how much width would it take? */
  /* grid-column: 1 / 3; */

  /* span 1 means single column */
  /* grid-column: 1 / span 3; */

  grid-column:  1 / -1;
}

.items {
  color: #fff;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
