/* https://www.youtube.com/watch?v=D53MBXEj8m4&list=PL0b6OzIxLPbyTHa8kl8krEvyszCKO1Uml&index=7&ab_channel=YahooBaba */

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  padding: 0 0 0 40px;
}

/* grid, grid-template-columns, grid-template-rows and grid-gap */

.container {
  background: #eeeeee;
  width: 720px;
  margin: 45px auto 0;
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  /* below are individal size for every row */
  grid-template-rows: 120px 60px 100px 400px 50px;

  /* now using grid template area property; this is good for small layout or static page */
  /* use "." to keep / leave empty space at left / right not middle */
  grid-template-areas: "header header ."
                       "menu menu menu"
                       "box1 box2  sidebar"
                       "content content sidebar"
                       "footer footer footer"
  ;

  grid-gap: 15px;
}

.header {
  background: orangered;
  grid-area: header;
}

/* css grid items positioning */
.menu {
  background: yellowgreen;
  grid-area: menu;
}

.box1 {
  background: mediumpurple;
  grid-area: box1;
}

.box2 {
  background: hotpink;
  grid-area: box2;
}

.sidebar {
  background: royalblue;
  grid-area: sidebar;
}

.content {
  background: #7dcea0;
  grid-area: content;
}

.footer {
  background: goldenrod;
  grid-area: footer;
}

.items {
  color: #fff;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
