* {
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-gap: 10px;
  /* grid-template: 100px 100px 100px / repeat(6, 1fr); */
  /* grid-template: minmax(100px, 200px) 100px 100px / repeat(
      6,
      minmax(100px, 200px)
    ); */
  /* fills avaiable area based on given column size so the no. of columns may changes */

  /* grid-template: 100px 100px 100px / repeat(auto-fill, minmax(auto, 200px)); */
  /* grid-template: 100px 100px 100px / repeat(auto-fill, minmax(100px, auto)); */
  grid-template: 100px 100px 100px / repeat(auto-fill, 1fr);
  /* grid-template: 100px 100px 100px / repeat(auto-fill, minmax(100px, 1fr)); */
  /* grid-template: 100px 100px 100px / repeat(auto-fill, minmax(100px, 200px)); */
}

.grid div:nth-child(1) {
  grid-column: 1 / span 24;
}

.grid div:nth-child(2) {
  grid-column: small 1 / large 3;
}

.grid div:nth-child(3) {
  grid-column: col 1 / col 6;
}

.grid div:nth-child(4) {
  grid-column: auto / span 6;
}

.grid div:nth-child(5) {
  grid-column: auto / span 12;
}

.grid div:nth-child(6) {
  grid-column: auto / span 12;
}
