* {
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid: 200px 200px / 1fr 1fr 1fr;
  grid-gap: 5rem;
}

.grid img {
  width: 100%;
}

.subgrid {
  display: grid;
  grid: 50% 50% / 50% 50%;
  grid-gap: 35px;
}
