* {
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid: auto-flow 150px / auto-flow 1fr;
  /* grid: 150px 150px / auto-flow 150px; */
  grid-gap: 10px;
  grid-auto-flow: row dense;
}

.grid div:nth-child(1) {
  background: lightblue;
}

.grid div:nth-child(2) {
  background: green;
  /* here "two columns" defined but if the first column has auto-flow;
  then "1 / span 10" could be used if needed as the seconded column will be added thereafter */
  grid-column: 1 / span 3;
}

.grid div:nth-child(3) {
  background: steelblue;
}

.grid div:nth-child(4) {
  background: magenta;
}

.grid div:nth-child(5) {
  background: sienna;
}

.grid div:nth-child(6) {
  background: greenyellow;
}
