.card {
  background: #000000;
  color: #ffffff;
  width: 560px;
  margin: 0 auto;
  padding: 45px;
}

h1,
p {
  margin-top: 0;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

a {
  color: #ffe600;
}

.button {
  display: inline-block;
  background: #ffe600;
  color: black;
  text-align: center;
  text-decoration: none;
  /* to increase the size (height top-down, width left-right) of the element */
  /* padding: 15px 0; /* here given height is 15px and width 0 * / */
  padding: 15px 30px; /* here height 15px & width 45px from 175px of local width * /

  /* padding could be used to increase height + width or just use width & height */
  /* or, use width then provide the height by pading 15px (top down) 0 (left right) */
  /* width: 175px; */
  /* height: 50px; */

  /* to make space between or from its next/previous element */
  /* margin-right: 25px; */
  margin-bottom: 50px;
}

.button:hover {
  background: orange;
}

.accent-color {
  color: yellow;
}

.links {
  margin-top: 20px;
  margin-bottom: 0;
}

/* specificity loweest to highest : element selector -> class selector -> id selector */

#test {
  color: fuchsia;
}

p {
  color: pink;
}

/* The id gegts highest specificity but it could be ovewritten with important */

.test {
  color: lightgreen;
  /* color: lightgreen !important; */
}
