<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:400,900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <!-- Navbar -->
    <!-- <div class="flex-container">
      <div class="flex-child one">One</div>
      <div class="flex-child two">Two</div>
      <div class="flex-child three">Three</div>
      <div class="flex-child four">Four</div>
      <div class="flex-child five">Five</div>
      <div class="flex-child six">Six</div>
      <div class="flex-child seven">Seven</div>
      <div class="flex-child eight">Eight</div>
      <div class="flex-child nine">Nine</div>
      <div class="flex-child 10">Ten</div>
    </div>

    <div class="navbar">
      <div class="flex-child one">One</div>
      <div class="flex-child two">Two</div>
      <div class="flex-child three">Three</div>
      <div class="flex-child four">Four</div>
      <div class="flex-child five">Five</div>
      <div class="flex-child six">Six</div>
      <div class="flex-child seven">Seven</div>
      <div class="flex-child eight">Eight</div>
      <div class="flex-child nine">Nine</div>
      <div class="flex-child 10">Ten</div>
    </div> -->
    <button class="btn">
      <input type="file" class="inputFile" name="file" id="file-upload" />
      <label for="file-upload">Upload File</label>
    </button>
  </body>
</html>
