<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:400,900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-item item1">First</div>
      <div class="grid-item item2">Second</div>
      <div class="grid-item item3">Third</div>
      <div class="grid-item item4">Fourth</div>
      <div class="grid-item item5">Fifth</div>
      <div class="grid-item item6">Sixth</div>
    </div>
    <hr />

    <!-- This below is legacy approach that works on old browsers -->
    <span class="btn btn-default btn-file"> Browse <input type="file" /> </span>
    <hr />

    <!-- label for="" and input id="" must be the same -->
    <!-- <label for="file-upload" class="custom-fileUpload">custom upload</label>
    <input type="file" id="file-upload" /> -->
    <label class="custom-file-upload">
      <input type="file" />
      Custom Upload (label + input)
    </label>
    <hr />
    <div class="prepend-container">
      <input type="file" id="prependFile" />
    </div>
    <hr />
    <script>
      document.querySelector(".custom-file-upload").addEventListener("change", function (event) {
        const fileName = event.target.files[0];
        const label = document.querySelector(".custom-file-upload");
        // const nodeList = label.childNodes;
        // nodes[nodes.length - 1] = fileName ?? "Browse Files";
      });
    </script>
  </body>
</html>
